.email {
    font-weight: 240;
    font-size: 1.2rem;
    color: slategray;
}

.email:hover {
    color: darkslategray;
}

@keyframes fade-in-from-top2 {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes fade-in-from-top {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes fade-in-from-bottom {
    0% {
        transform: translateY(0.15rem) translateZ(5rem) scaleY(-1)  rotateX(-67deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateZ(5rem) scaleY(-1)  rotateX(-70deg);
        opacity: 100%;
    }
}

.titlecard {
    animation: 0.7s ease-out fade-in-from-top forwards;
}

.links {
    animation: 0.7s ease-out fade-in-from-top forwards;
}

.flip-box {
    background-color: transparent;
    perspective: 1000px;
    z-index: -1;
    position: relative;
    top: -3rem;
}

.inverse {
    animation: 0.7s ease-out fade-in-from-bottom forwards;
    pointer-events: none;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.03)));
    filter: blur(0.06rem);
}

.text-center-overflow {
    display: flex;
    justify-content: center;
}

.main {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 15vh;
}

.nounderline {
    text-decoration: none !important
}

.item {
    padding-left: 3em;
    padding-right: 3em;
    transition: 0.2s;
}

.item:hover {
    transform: scale(1.05);
}

.inverse .item .hover {
    transform: scale(1.05);
}

.jumbotron {
    padding-left: 10em;
    padding-right: 10em;
    background-color: transparent;
}

.name {
    font-weight: 200;
    font-size: 8rem;
    color: lightslategray;
}

.subtitle {
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
    color: lightslategray;
}

.cardtext {
    margin-top: 1rem;
    color: lightslategray;
    font-weight: 400;
}

.cardtext:hover {
    color: darkslategray;
}

.item:hover .cardtext {
    color: darkslategray;
}

.at::before {
    content: "@";
}